.DS_Store
Thumbs.db
*.log

# env
.env
.env.*

# python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
.pytest_cache/
.mypy_cache/
.ruff_cache/

# virtualenv
venv/
.venv/

# django
*.sqlite3
staticfiles/
media/

# node
node_modules/
dist/
build/

# ide
.vscode/
.idea/
